<!-- Feature Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">What is ReSpeaker?</h2>
        <h3 class="section-subheading text-center">ReSpeaker is an open modular voice interface to hack things around you. Let you interact with your home appliances, your plant, your office, your internet-equipped devices or any other things in your daily life, all by your voice.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <img src="img/features/feature-1.png" class="img-responsive img-centered" alt="">
        <!-- <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span> -->
        <h4 class="service-heading">Set Your Hands Free</h4>
        <p class="text-muted">With online and offline Speech Recognition.</p>
      </div>
      <div class="col-md-4">
        <img src="img/features/feature-2.png" class="img-responsive img-centered" alt="">
        <!-- <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span> -->
        <h4 class="service-heading">Installation-free App</h4>
        <p class="text-muted">Set all things up on Web-based App.</p>
      </div>
      <div class="col-md-4">
        <img src="img/features/feature-3.png" class="img-responsive img-centered" alt="">
        <!-- <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span> -->
        <h4 class="service-heading">Wireless Streaming</h4>
        <p class="text-muted">Stream music using Airplay/DLNA.</p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4">
        <img src="img/features/feature-4.png" class="img-responsive img-centered" alt="">
        <!-- <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span> -->
        <h4 class="service-heading">Easy-to-use SDK</h4>
        <p class="text-muted">Support Python and C/C++.</p>
      </div>
      <div class="col-md-4">
        <img src="img/features/feature-5.png" class="img-responsive img-centered" alt="">
        <!-- <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span> -->
        <h4 class="service-heading">Growing Features</h4>
        <p class="text-muted">Download the plug-in to enrich its features and functionalities.</p>
      </div>
      <div class="col-md-4">
        <img src="img/features/feature-6.png" class="img-responsive img-centered" alt="">
        <!-- <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span> -->
        <h4 class="service-heading">Plug-n-play Add-ons</h4>
        <p class="text-muted">Extendable with Mic Array, Dynamic Speaker Module and more.</p>
      </div>
    </div>
  </div>
</section>
